body {
  width: 900;
  background-image: url("images/bckgrnd.jpg");
  display: block;
  background-repeat: no-repeat;

}

#colors a{
	color: red;
	text-decoration: none;
	padding: 6px;
  border: 2px solid black;
	margin-top: 10px;
	margin-bottom: 10px;
  display: inline-block;

}

#colors a:hover{
	color: Yellow;
  font-size: 16px;
	text-decoration: none;
	background-color: #A0E88B;
  color: #14116F;
	padding: 6px;
	border-radius: 3px;
}



.round {
  width: 550px;
  height: 50px;
  background-color: #683A09;
  margin: 5px;
  border: 2px solid black;



}

#GameCode {
  background-color: #9A6328;
  height: 60px;
  width: 550px;
  margin: 5px;
  border: 2px solid black;

}

#gameboard {
margin-left: 175px;
margin-top: 150px;
}

h2 {
  text-align: center;
}

.guess1 {
  background-color: black;
}

#box1 {
width: 40px;
height: 40px;
}
